[flake8]
count = True
show-source = True
statistics = True
max-line-length = 127
max-complexity = 10
exclude = .git,__pycache__,.venv,venv,node_modules
# E9,F63,F7,F82 are syntax errors or undefined names
select = E9,F63,F7,F82,E501,W291,W292,W293
