fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pytest
alembic
pydantic[email]
aiohttp
openai
pytest-playwright
Pillow
user-agents
httpx
starlette-csrf
itsdangerous
