fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.1.3 # Required for compatibility with passlib==1.7.4
python-multipart
python-dotenv
pytest
alembic
pydantic[email]
aiohttp
google-genai
pytest-playwright
Pillow
user-agents
httpx
starlette-csrf
itsdangerous
pytest-asyncio
jaconv
filetype
filetype
