fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
alembic
pydantic[email]
aiohttp
google-genai
Pillow
user-agents
httpx
starlette-csrf
itsdangerous
pytest-asyncio
jaconv
filetype
# テスト用
pytest
pytest-playwright
